/* // Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

/* // Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { ... } */

/* // Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... } */

/* // Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */ */


.container-fluid {
    background-color: darkgray;
}

.navbar-nav ul{
    text-decoration: none;
    list-style-type: none;

}


.navbar-nav li {
    float: left;
    margin: 10px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;   
    justify-content: center;
    margin: 20px 30px auto;
}

.card {
    width: 200px;
    margin: 10px;

}
