#wrapper {
  max-width: 480px;
  margin: auto;
}
#description, #search, #todo-list {
  font-size: 1.5em;
}

#todo-list {
  /* override user agent style... it adds padding to <ul>s to account for bullet points but we dont want them anyway */
  padding-inline-start: 0;
}

li {
  cursor: pointer;
}

li p {
  margin: 0;
}
