* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

.navbar {
    float: right;
    padding-top: 25px;
    text-align: center;
    padding-right: 250px;
    padding-bottom: 100px;
}

.navbar li {
    display: inline-block;
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    padding: 10px;
    color: silver;
    font-size: 14px;
}

.page-heading {
    background-image: url(img/atl.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.logo-image {
    display: block;
    width: 15%;
    height: auto;
    margin: auto;
    clear: right;
}

.main-title {
    color: #FFFFFF;
    text-align: center;
    font-size: 90px;
    margin: 25px 0;
}

.sub-title {
    color: silver;
    text-align: center;
    font-size: 26px;
    margin: 0;
    padding-bottom: 150px;
}

.arrow {
    display: block;
    width: 3%;
    height: auto;
    margin: auto;
    padding: 15px;
}

.content-title {
    font-size: 48px;
    text-align: center;
    padding: 25px;
    padding-bottom: 0px;
}

.content-list {
    float: center;
    text-align: center;
    padding: 0;
    margin: 0;
}

.content-list li {
    display: inline-block;
    padding: 75px;
    padding-top: 50px;
}

.content-list img {
    padding: 0;
    margin: 0;
}

.icon-title {
    font-size: 36px;
    text-align: center;
    padding: 0px;
}

.icon-sub {
    font-size: 14px;
    text-align: center;
    width: 175px;
    margin: auto;
}

footer {
    background-color: #595f69;
}

footer p {
    color: silver;
    font-size: 14px;
    text-align: center;
    margin: 0;
    padding: 25px;
}

.footer-nav {
    float: center;
    text-align: center;
}

.footer-nav li {
    display: inline-block;
    padding-right: 60px;
    padding-top: 40px;
}

.footer-nav a {
    text-decoration: none;
    color: silver;
    font-size: 18px;
}