.container-fluid {
    display: flex;
    justify-content: space-evenly;
}

.about-heading {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 50px;
}

.card-deck {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-bottom: 50px;
}

.card {
    margin: 20px;
}

.card img {
    height: 250px;
}

.product-title {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.contact-title {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.form-row {
    display: block;
    width: 500px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.col {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
}

#comments {
    height: 150px;
}

.carousel-item h5 {
    font-size: 52px;
    font-weight: bold;
    color: #10a0a1;
}

.carousel-item p {
    font-size: 20px;
}

.carousel-item img {
    height: 900px;
}

.footer-title {
    padding-left: 20px;
}

.footer-subtitle {
    padding-left: 20px;
}

.page-footer {
    background-color: #10a0a1;
    margin-top: 100px;
}

.footer-links {
    list-style-type: none;
    padding-left: 0;
}

.footer-links a {
    text-decoration: none;
    color: black;
}

.footer-links a:hover {
    color: grey;
}

.footer-social {
    list-style-type: none;
    padding-left: 0px;
}

.footer-social li {
    display: inline-block;
    padding: 20px;
    padding-left: 0;
}

.footer-social a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.footer-social a:hover {
    color: grey;
}

.footer-copyright {
    font-size: 14px;
    text-align: center;
    padding: 20px;
}

#gif {
    width: 500px;
    margin: auto;
    padding-top: 75px;
    padding-bottom: 75px;
}