.container-fluid {
    display: flex;
    /* flex-direction: center; */
    justify-content: space-evenly;
}

.about-heading {
    text-align: center;
    padding: 25px;
}

.card {
    margin: 20px;
}

.product-title {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.contact-title {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.form-row {
    display: block;
    width: 500px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.col {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
}

.carousel-item img {
    height: 900px;
}

.footer-title {
    padding-left: 20px;
}

.footer-subtitle {
    padding-left: 20px;
}

.page-footer {
    background-color: #10a0a1;
    margin-top: 100px;
}

.footer-links {
    list-style-type: none;
    padding-left: 0;
}

.footer-links a {
    text-decoration: none;
    color: black;
}

.footer-links a:hover {
    color: blue;
}

.footer-social {
    list-style-type: none;
    padding-left: 0px;
}

.footer-social li {
    display: inline-block;
    padding: 10px;
}

.footer-social a {
    text-decoration: none;
    color: black;
}

.footer-social a:hover {
    color: blue;
}

.footer-copyright {
    font-size: 14px;
    text-align: center;
    padding: 20px;
}

