.container {
  background-color: #d5e4e9;
}

body {
  background-color: #4e2e53;
}
.header {
  background-color: #d5e4e9;
  margin: 20px;
  padding: 10px;
}
a.nav-link {
  background-color: aquamarine;
}
