body {
  background-color: #d5e4e9;
  font-family: "Antic Slab", serif;
}

.brandtitle {
  color: lightpink;
  text-shadow: 1px 1px purple;
  font-style: oblique;
  font-size: 50px;
  text-align: center;
}

.standardtext {
  text-indent: 50px;
  color: purple;
  font-size: 24px;
  text-shadow: 0px 1px white;
}

.title {
  font-family: "Antic Slab", serif;
  font-size: 40;
  font-weight: bolder;
  text-align: center;
  margin: auto;
  color: #ee6e62;
}

.container-md {
  justify-content: center;
  width: 50%;
}

.card {
  width: 400px;
  height: 450px;
  margin: 20px;
  background-color: lightpink;
  border: solid white;
  overflow: hidden;
}

.tiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-text {
  font-size: 18px;
  font-family: "Antic Slab", serif;
  color: purple;
  text-shadow: 0px 1px white;
}

.card-img-top {
  border-bottom: solid white;
  object-fit: cover;
  object-position: top;
  width: 400px;
  height: 225px;
}

.card-body {
  margin: 0;
  padding-top: 0;
}

.copyright {
  text-align: center;
}

.container {
  background-color: #d5e4e9;
  border: solid white;
}

.signinbody {
  background-color: lightpink;
}

.header {
  background-color: #d5e4e9;
  margin: 20px;
  padding: 10px;
  border: solid white;
}

.text-center {
  background-image: url(../images/coverphoto_yarn.jpg);
  background-position: center;
  background-size: cover;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 22px;
  border: double black 4px;
  background-color: purple;
}

.logo img {
  width: 30%;
}

.lead {
  color: burlywood;
  text-shadow: black 1px 1px;
  font-weight: bold;
}

.cover-heading {
  color: white;
  text-shadow: black 2px 2px;
}

.inner {
  color: white;
  margin: 10px;
  text-align: center;
  font-weight: 800;
  text-shadow: black 1px 1px;
}
a.nav-link {
  background-color: rgb(127, 95, 148);
}
