.navbar, .navbot, .article_title, .titledate {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    margin: 5 100 0 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.DC {
    display: flex;
    align-items: center;
}
.nav_buttons>li {
    display: inline-block;    
    margin: 0 20 0 0;
    font-size: 16;    
    font-weight: 800;
}

.nav_buttons {
    margin: 5 0 0 0;
}

.floatbar{
    float:right;
    padding: 0 0 0 0;
}

.nav_buttons a {
    text-decoration: none;
    color: slategray;
}
.navbar h1{
    display: inline;
}

.blogbutton {
    text-align: center;
    margin: 0 0 25 0;
    padding: 5 0 5 0;
}

button {
    background-color: #4a99c4;
    font-weight: 600;
    color:white;
    padding: 5 20 5 20;
    border-style: none;
    font-size: 10;
}

.navbot li{
    display: inline;
    float:left;
    margin: 0 0 0 25;
    padding: 0;

}

.navbot {
    margin: 0 0 0 105;
}

.foot_buttons a{
    text-decoration: none;
    color: silver;
    font-size: 14;
    font-weight: 600;
}

.bodytext {
    margin: 0 170 50 170;
    font-family: "Dosis", sans-serif;
    font-size: 14;
    width: 600;
}

hr {
    margin: 0 170 0 65;
    background-color: silver;
    height: 2px;
    border: none;
}

.article_title{
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 10px;
}

.titledate {
    text-align: center;
    color: silver;
    font-size: 10;
    font-weight: 800;
}
.titlestart {
    margin: 50 0 0 0;
}

.footer {
    margin: 60 0 20 0;
    text-align:center;
    font-size: 12;
    color: gray;
    font-weight: 800;
}

body {
    margin: 0 0 0 0;
}