#section-header {
  background-color: blue;
  color: white;
  cursor: pointer;
  padding: 5px;
}

#accordion {
  width: 400px;
  background-color: yellow;
  margin: auto;
}

#section {
  padding: 5px;
}
