* {
    font-family:  'Oswald', sans-serif;
}


html:before {
    content: "";
    background-image: url("images/chocolate-chips-cookie-sweets-pastry-brown-royalty-free-thumbnail.jpg");
    opacity: 0.25;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;  
}

.card-img-overlay {
    text-align: center;
    top: 20%;
    
}

.card-img-overlay .card-title {
    font-size: 30pt;
    margin-bottom: 5%;
    
}

.card-img-overlay .card-text {
    font-size: 15pt;
    justify-content: center;
}


.homesection {
    padding: 10%;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color:hsl(210, 15%, 60%, .7);
    color: white;
    margin-top: 5%;
}

.container {
    text-align: center;
    margin: 5%;
}

/***** FOOTER SECTION *****/

.bottom {
    bottom: 0px;
    font-size: small;
}

.socialbuttons> ul {
    margin: 10%;
    text-decoration: none;
    list-style: none;

}

.socialbuttons> li {
    display: inline-block;
    align

}

.socialbuttons:hover {
    transform: scale(1.5);
}

.copywright {
    margin: 10%;
}
