* {
    font-family:  'Oswald', sans-serif;
}

.cookieguy {
    background-color: gray;
}

body:after {
    content: "";
    background-image: url("images/chocolate-chips-cookie-sweets-pastry-brown-royalty-free-thumbnail.jpg");
    opacity: 0.25;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}
