form {
    padding: 5%;
}

* {
    font-family:  'Oswald', sans-serif;
}

div:before {
    background: url("images/chocolate-chips-cookie-sweets-pastry-brown-royalty-free-thumbnail.jpg");
    opacity: 0.25;
    background-size: cover;
}