
.bg {

  background-image: url("../images/Tiled_block_background.png");
  background-color: brown;
  height: 500px;
  background-position: center;
  ban
  background-size: cover;
  position: relative;

}
