
.bg {

  background-image: url("../images/Tiled_block_background.png");
  background-color: brown;
  height: 500px;
  background-position: center;
  background-size: cover;
  width: 160px;
  height: 160px;

}
