body {
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif; 
}

h1 {
    font-weight: normal;
}

.navbar-container {
    border: solid black;
    padding: 20px 0 20px 0;
    text-align: left;
    margin: 20px 300px; 
    
}

.navbar-container h1 {
    width: 350px
}

.navbar-container a {
    padding-right: 20px;
    padding-bottom: 40px;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: gray;
}

.header-container {
    text-align: center;
    border: solid black;
    margin-bottom: 50px;
}

.middle-container {
    text-align: justify;
    margin: 20px 300px 0 300px;
    font-size: 20px;
    font-weight: lighter;
}

.bottom-container {
    position: relative;
    padding-bottom: 20px;
    margin: 0 300px;
    text-align: left;
    padding-top: 0px;
}


.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }