.container {
  background-color: #d5e4e9;
}

body {
  background-color: #4e2e53;
}
.header {
  background-color: #d5e4e9;
<<<<<<< HEAD
=======
  margin: 20px;
  padding: 10px;
>>>>>>> d97b0a1866d0723356dfd22f8aa7c3ab61c0c88e
}
