.main {
    display: flex;

}

.sidebar {
    padding-right: 20px;
    padding-top: 10px;
    flex-grow: 1.5;
    text-align: center;
    list-style: none;
    background-color:#87ceeb
}

.sidebar a {
    text-decoration: none;
    font-size: 25px;
    display: block;
    color: white;
    padding: auto;
}
.sidebar ul {
    list-style-type:none;
}
.content {
    flex-grow: 2.5;
}

.jumbotron {
    background-image: url("img/mower-1.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.About-Daniel {
    display: flex;
    padding-bottom: 25px;
}
.About-Ali {
    display: flex;
    padding-bottom: 25px;
}
.About-Elijah {
    display: flex;
    padding-bottom: 25px;
}

.about-us {
    display: block;
}
.about-us img {
    max-width: 50%;
    height: auto;
    width: auto;
}

.jumbo-content{
    color: white;

}